@use "sass:color";
@use "sass:meta";

@function calculate-grid-color($base-color, $variation: 10%) {
    @if meta.type-of($base-color)=='color' {
        @return color.adjust($base-color, $lightness: $variation);
    }

    @else {
        @return color.adjust(#000, $lightness: $variation);
    }
}



.grid-background {
    $grid-size: 24px;
    $thick-line-interval: 5; // 5マスおきに

    // 背景サイズを修正
    background-size: #{$grid-size} #{$grid-size},
    #{$grid-size} #{$grid-size},
    #{$grid-size * $thick-line-interval} #{$grid-size * $thick-line-interval},
    #{$grid-size * $thick-line-interval} #{$grid-size * $thick-line-interval};

    background-position: center center;
    background-repeat: repeat;

    $grid-color-light: #ffffff; // ライトテーマのマス目の色
    $grid-color-dark: #121212; // ダークテーマのマス目の色
    $line-color: #ededed; // 境界線の色

    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #{$line-color} calc(100% - 1px)),
    linear-gradient(90deg, transparent calc(100% - 1px), #{$line-color} calc(100% - 1px)),
    linear-gradient(0deg, #{$grid-color-light} 0%, #{$grid-color-light} 100%),
    linear-gradient(90deg, #{$grid-color-light} 0%, #{$grid-color-light} 100%);


    &.dark-theme {
        background-image: linear-gradient(0deg, transparent calc(100% - 1px), #{$line-color} calc(100% - 1px)),
        linear-gradient(90deg, transparent calc(100% - 1px), #{$line-color} calc(100% - 1px)),
        linear-gradient(0deg, #{$grid-color-dark} 0%, #{$grid-color-dark} 100%),
        linear-gradient(90deg, #{$grid-color-dark} 0%, #{$grid-color-dark} 100%);
    }

    & {

        .white-background {
            position: relative;
            width: 100%;
            background-color: rgba(var(--background-rgb), 0.6);
            backdrop-filter: blur(1.5px);
            border: 1px solid rgba(var(--foreground-rgb), 0.1);
            box-shadow: 0 4px 6px rgba(var(--foreground-rgb), 0.2);
            min-height: 100vh;
            color: var(--foreground);

            .content-background {
                background-color: rgba(var(--background-rgb), 1);
                border: 1px solid rgba(var(--background-rgb), 1);
                border-radius: 12px;
                box-shadow: 0 4px 6px rgba(var(--foreground-rgb), 0.3);
                color: var(--foreground);
                max-width: 800px;
                width: 90%;
                margin: 2rem auto;
                padding: 2rem;
            }
        }
    }
}
