@media (prefers-color-scheme: dark) {
    :root {
        --background: #1f2937;
        --foreground: #ffffff;
        --primary: #6574cd;
        --secondary: #4a56a6;
        --accent: #fc923c;

        --border-color: #374151;
        --shadow-color: rgba(0, 0, 0, 0.5);
        --text-muted-color: #9ca3af;
    }
}

.dark-theme {
    --background: #1f2937;
    --foreground: #ffffff;
    --primary: #6574cd;
    --secondary: #4a56a6;
    --accent: #fc923c;

    --border-color: #374151;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --text-muted-color: #9ca3af;

    .link {
        color: var(--foreground);
        transition: color 0.3s ease;

        &:hover {
            color: var(--accent);
        }
    }

    .hero {
        background-color: var(--background);
        border-color: var(--foreground);
    }
}
