:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #3490dc;
    --secondary: #6574cd;
    --accent: #fc923c;

    --border-color: rgba(0, 0, 0, 0.1);
    --shadow-color: rgba(0, 0, 0, 0.2);

    --card-background: #f8f9fa; 
    --card-text-color: #212529; 
    --font-family-base: 'Inter', Arial, sans-serif;
    --font-size-base: 16px;
}

body {
    background-color: var(--background);
    color: var(--foreground);

    .link {
        color: #1f2937;
        transition: color 0.3s ease;

        &:hover {
            color: var(--accent);
        }
    }
    .hero {
        background-color: var(--background);
        border-color: var(--foreground);
    }

    .button {
        background-color: var(--primary);
        color: white;
        border: 1px solid var(--border-color);
        box-shadow: 0 2px 4px var(--shadow-color);
    }

    .card {
        background-color: var(--card-background);
        color: var(--card-text-color);
        border: 1px solid var(--border-color);
        box-shadow: 0 2px 4px var(--shadow-color);
        padding: 1rem;
        border-radius: 0.5rem;
    }
}
